<div data-th-fragment="footer">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Taskmanager</small>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/jquery/jquery.slim.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </footer>
</div>