<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/login-form.css}" th:rel="stylesheet">
    <link th:href="@{/css/font-awesome.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Forget Password!</h5>

                    <div th:if="${successMessage}" class="alert alert-success"
                         role="alert" th:text=${successMessage}></div>

                    <div th:if="${errorMessage}" class="alert alert-danger"
                         role="alert" th:text=${errorMessage}></div>

                    <form class="form-signin" th:object="${emailDto}" th:action="@{/forget-password}" method="post">
                        <div class="form-group" th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                   required autofocus th:field="*{email}">
                            <label for="inputEmail">Email address</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send Reset Link</button>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Login</a></div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

