<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="fragments/head :: head"></head>
<body>

<!-- Navigation -->
<div data-th-replace="fragments/nav-bar :: navbar"></div>

<!-- Page Content -->
<div class="container" style="min-height: 819px">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="title-head col-lg-9">
                    <h2> All tasks of <span th:text="${username}"></span></h2>
                </div>
                <div class="col-lg-3 title-head">
                    <a th:href="@{/task/add}" style="margin-left: 165px">
                        <button type="button" class="btn btn-dark">Add Task</button>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Completion Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task,key:${tasks}">
                        <th scope="row" th:text="${key.index}"></th>
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.issueDate}"></td>
                        <td th:text="${task.completionDate}"></td>
                        <td th:text="${task.status}"></td>
                        <td>
                            <a th:href="@{'/task/update/'+${task.id}}">EDIT </a>
                            |
                            <a href=# th:onclick="|deleteTask('${task.id}')|">DELETE</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="fragments/footer::footer"></div>

<script type="text/javascript" th:inline="javascript">
    function deleteTask(id) {
        $.ajax({
            url: "/task/delete/" + id,
            type: "DELETE",
            success: function (result) {
                console.log(result);
                window.location.href = "/home";
            }
        });
    }
</script>
</body>
</html>
