<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">

</head>
<style>
    .title-head {
        margin-top: 50px;
    }
</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="title-head">
                    <h2 class="col-lg-9"> All tasks of {PersonName}</h2>
                    <span class="col-lg-3">
                        <a th:href="@{/task/add}">
                        <button type="button" class="btn btn-dark">Add Task</button>
                    </a>
                    </span>
                </div>
            </div>

            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Completion Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task,key:${tasks}">
                        <th scope="row" th:text="${key.index}"></th>
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.issueDate}"></td>
                        <td th:text="${task.completionDate}"></td>
                        <td th:text="${task.status}"></td>
                        <td>
                            <a th:href="@{'/task/update/'+${task.id}}">EDIT </a>
                            |
                            <a href="#">DELETE</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
