<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="col-lg-12">
                <h2> All tasks of {PersonName}</h2>
                <!--<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Add Task</button>-->
                <a th:href="@{/task/add}"><button type="button" class="btn btn-dark">Add Task</button></a>
            </div>

            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Completion Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Task 1</td>
                        <td>2020-04-03</td>
                        <td>2020-04-10</td>
                        <td>In Progress</td>
                        <td>EDIT | DELETE</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add new task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/task/post}" th:object="${task}" method="post">
                            <div class="form-group">
                                <input th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">

                                <label for="taskName">Task Name</label>
                                <input type="text" class="form-control" id="taskName"
                                       th:field="*{taskName}" placeholder="type a new task name">
                            </div>
                            <div class="form-group">
                                <input th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}">

                                <label for="issuedate">Issue date</label>
                                <input type="date" class="form-control" id="issuedate"
                                       th:field="*{issueDate}" placeholder="type a new task name">
                            </div>
                            <div class="form-group">
                                <input th:if="${#fields.hasErrors('completionDate')}" th:errors="*{completionDate}">

                                <label for="compDate">Completion Date</label>
                                <input type="date" class="form-control" id="compDate"
                                       th:field="*{completionDate}" placeholder="type a new task name">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>-->
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
