<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/login-form.css}" th:rel="stylesheet">
    <link th:href="@{/css/font-awesome.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" th:action="@{/forgetPassword/reset}" method="post" th:object="${passwordDto}">
                        <!--<div class="form-group" th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>-->
                        <input type="hidden" th:field="*{token}" th:text="${token}">
                        <div class="form-label-group">
                            <input type="text" id="pass1" class="form-control" placeholder="Password"
                                   required autofocus name="email">
                            <label for="pass1">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="pass2" class="form-control" placeholder="Confirm Password"
                                   required autofocus>
                            <label for="pass2">Confirm Password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset</button>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Login</a></div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

